<nav class="navbar dark-mode" role="navigation">
  <button class="burger">
    <span class="bar"></span>
  </button>
  <ul><li><a routerLink="/home"><img class="logo" src="../../../assets/images/logo.png" alt=""> </a></li></ul>
  <ul class="navbar__links">
    <li class="navbar__link first"><a class="links_menu" routerLink="/tienda">TIENDA</a></li>
    <li class="navbar__link second"><a class="links_menu" routerLink="/talleres">TALLERES</a></li>
    <li class="navbar__link third"><a class="links_menu" routerLink="/servicios">SERVICIOS</a></li>
  </ul>
  <ul class="redes">
    <a routerLink="https://www.facebook.com/" class="redes_link"><img class="redes-img" src="../../../assets/images/redes/facebook.png" alt=""></a>
    <a routerLink="" class="redes_link"><img class="redes-img" src="../../../assets/images/redes/instagram.png" alt=""></a>
    <a routerLink="" class="redes_link"><img class="redes-img youtube" src="../../../assets/images/redes/youtube.png" alt=""></a>
  </ul>
</nav>

