<nav class="navbar dark-mode" role="navigation">
  <ul><li><a routerLink="/home"><img class="logo" src="../../../assets/images/logo-inicial.png" alt=""> </a></li></ul>
  <ul class="navbar__links">
    <li class="navbar__link first"><a class="links_menu" routerLink="/tienda">Tienda</a></li>
    <li class="navbar__link second"><a class="links_menu" routerLink="/talleres">Talleres</a></li>
    <li class="navbar__link third"><a class="links_menu" routerLink="/servicios">Servicios</a></li>
    <li><a routerLink="/agenda-una-cita" class="btn"><button>Agendar</button></a></li>
  </ul>
  <button class="burger">
    <span class="bar"></span>
  </button>
</nav>

