.informacion{
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6rem 0;
}
.text{
  width: 50%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: .4rem 1rem;
}
h2 {
  font-size: 2.4rem;
  /* color: rgb(163, 0, 157); */
  color: #f34f5f;
}
.text_p{
  letter-spacing: 1px;
  font-size: 1.3rem;
  line-height: 1.5
}
.link-agenda{
  text-decoration: none;
  font-size:1.2rem;
  color: black ;
  font-weight: bold;

}
.btn {
  background-color: #f34f5f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 8px 13px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover,
.button-1:focus {
  background-color: #c3346b;
}

.imagen{
  max-width: 40%;
  margin: 2.5%;

}
.img{
  max-width: 100%;
}
/* @media (min-width: 768px) {
  .btn {
    padding: 0.25em 0.75em;
  }
} */
