<div class="informacion">
  <div class="imagen"> <img class="img" src="../../../assets/images/servicee.jpg" alt=""></div>
  <div class="text">
    <h2>Nuestros Servicios</h2> <br> <br>
    <p class="text_p">
      En BEAUTY NAILS puedes agendar una cita para disfrutar de nuestros servicios de manicura de primera calidad, donde la elegancia y el cuidado se fusionan para brindarte una experiencia única. Agenda una cita <a class="link-agenda" routerLink="/Agenda">Aqui</a> <br>
    </p>
    <br>
    <button class="btn" role="button">Servicios</button>
  </div>
</div>
