
<div class="informacion">
  <div class="text">
    <h2>Servicios</h2> <br> <br>
    <p class="text_p">
      ¡Resalta con nuestras servicios de manicura en Beauty Nails! Expresa tu estilo y cuida tus uñas con nosotros. ¡Brilla siempre!<br><a class="text_link" routerLink="/store">Nuestros servicios</a>
    </p>
  </div>
  <div class="imagen" data-texto="Agenda un servicio"> <img class="img" src="https://i.pinimg.com/originals/ba/b9/c7/bab9c75c6bd68f7eaac27b950d745625.png" alt="">
  </div>
</div>
