/* Banner Talleres Specific Overrides */
@import '../../../shared-banner.css';

.informacion {
  background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
  .informacion {
    flex-direction: row-reverse;
  }

  .imagen {
    margin-right: 5%;
  }
}