/* Banner Tienda Specific Overrides */
@import '../../../shared-banner.css';

.informacion {
  padding: 0% 10%;
}

@media screen and (min-width: 768px) {
  .informacion {
    padding: 5% 10%;
  }

  .imagen {
    margin-left: 5%;
  }
}