<div class="informacion">
  <div class="text">
    <h2>Nuestra Tienda Online</h2> <br> <br>
    <p class="text_p">
      Descubre nuestra selección de productos. Desde esmaltes de larga duración hasta tratamientos especializados, tenemos todo lo que necesitas para expresar tu estilo y mantener tus uñas saludables. ¡Haz que cada día sea una oportunidad para brillar con Beauty Nails!
    </p>
    <button class="btn" role="button">Ir a tienda</button>
  </div>
  <div class="imagen"> <img class="img" src="../../../assets/images/tienda1.jpg" alt=""></div>
</div>
